$body_color: #dcbb9a;
$bg_color: #fff;
$h_color: #893c00;
$bg_tip: #fadcba;
$width_tip: 385px;
$float_tip: left;
$marg_tip: 10px;
$text_transform: none;
$link_btn_color: #3d70a1;
$p_color: #000;
$table_color_h_input: #e0e0e0;
$table_color_d: #fff;
$form_text_color: #808080;