$body_color: #e0f6fd;
$bg_color: #3b3b3b;
$h_color: #fccd10;
$bg_tip: #fff178;
$width_tip: 890px;
$float_tip: none;
$marg_tip: 40px;
$text_transform: uppercase;
$link_btn_color: #f5c70f;
$p_color: #fff;
$table_color_h_input: #94a34e;
$table_color_d: #677d01;
$form_text_color: #f5c70f;